<div class="container">

    <form class="example-full-width">

        <mat-form-field class="example-full-width">

            <mat-label>Favorite food</mat-label>

            <input matInput placeholder="Ex. Pizza" value="Sushi"

            [(ngModel)]="inputText" name="inputText" >

        </mat-form-field>



        <mat-form-field class="example-full-width">

            <mat-label>Leave a comment</mat-label>

            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>

        </mat-form-field>

    </form>

    <button (click)="generateContent()">Generate Content</button>

    <mat-card class="example-full-width">

        <mat-card-header class="example-full-width">

            <mat-card-title>Actions Buttons</mat-card-title>

            <!-- <mat-card-subtitle>Start</mat-card-subtitle> -->

        </mat-card-header>
        <p>{{ generatedContent }}</p>

        <!-- <mat-card-actions>

            <button mat-button>LIKE</button>

            <button mat-button>SHARE</button>

        </mat-card-actions> -->

    </mat-card>



</div>

